<div class="p-2">
    <h2>Manage my book</h2>
    <hr>
    @if (errorMessages.length) {
    <div class="alert alert-danger mt-2" role="alert">
        @for (message of errorMessages; track $index) {
        <p class="p-0 m-0">{{message}}</p>
        }
    </div>
    }
    <div class="d-flex gap-2">
        <div class="col-3">
            <img src="" class="rounded-1" width="100%" height="100%" [src]="selectedPicture || './default.jpg'">
            <input type="file" class="form-control" id="file" accept="image/*" (change)="onFileSelected($event)">
        </div>
        <div class="col-9">
            <form action="" class="row g-3">
                <div class="col-12">
                    <label for="title" class="form-label">Title </label>
                    <input type="text" [(ngModel)]="bookRequest.title" class="form-control" id="title" name="title"
                        placeholder="Book title">
                </div>
                <div class="col-6">
                    <label for="authorName" class="form-label">Author </label>
                    <input type="text" [(ngModel)]="bookRequest.authorName" class="form-control" id="authorName"
                        name="authorName" placeholder="Author name">
                </div>
                <div class="col-6">
                    <label for="isbn" class="form-label">ISBN </label>
                    <input type="text" [(ngModel)]="bookRequest.isbn" class="form-control" id="isbn" name="isbn"
                        placeholder="ISBN">
                </div>
                <div class="col-12" class="form-label">
                    <label for="synopsis">Synopsis</label>
                    <textarea name="synopsis" id="synopsis" class="form-control" [(ngModel)]="bookRequest.synopsis"
                        placeholder="Book synopsis" rows="4"></textarea>
                </div>
                <div class="col-12">
                    <label class="form-check-label" for="shareable">
                        <input type="checkbox" name="shareable" id="shareable" class="form-check-input"
                        [(ngModel)]="bookRequest.isShareable">
                        &nbsp;Shareable
                    </label>
                </div>
                <div class="d-flex justify-content-end gap-2">
                    <button (click)="saveBook()" type="submit" class="btn btn-outline-primary">
                        <i class="fas fa-save"></i>&nbsp;Save
                    </button>
                    <a routerLink="/books/my-books" class="btn btn-link text-danger">
                        <i class="fas fa-times"></i>&nbsp;Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>