book-network-ui/node_modules
book-network-ui/.vscode/*
book-network-ui/.angular/cache
.project
.vscode

book-network/target/
book-network/!.mvn/wrapper/maven-wrapper.jar
book-network/!**/src/main/**/target/
book-network/!**/src/test/**/target/
book-network/.classpath
book-network/.factorypath
book-network/.project

book-network/nbproject/private/
book-network/nbbuild/
book-network/dist/
book-network/nbdist/
book-network/.nb-gradle/
book-network/build/
book-network/!**/src/main/**/build/
book-network/!**/src/test/**/build/
book-network/uploads